/* GLOBAL */
html, body {
    color: #555555;
}

.button-brand-primary,
.button-brand-primary.activated {
    background-color: #008080;
    border: none;
    color: #FFFFFF;
}

.button-brand-primary:hover,
.button-brand-primary:active {
    background-color: #026E6E;
    color: #FFFFFF;
}

.button-brand-primary:active {
    background-color: #006060;
}



/* FONT FACE */
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf') format("opentype");
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #555555;
}



/* UTILITY */
.row-xs-margin-top {
    margin-top: 10px !important;
}

.row-sm-margin-top {
    margin-top: 10px !important;
}

.row-md-margin-top {
    margin-top: 15px !important;
}

.row-lg-margin-top {
    margin-top: 30px !important;
}

.row-xl-margin-top {
    margin-top: 50px !important;
}

.inline-block {
    display: inline-block;
}



#row-home-logo {
    height: 50%;
}

#row-home-logo .col {
    text-align: center;
}

.home-logo {
    width: 200px;
    height: auto;
}

#brand-text-row {
    font-family: BebasNeue;
    justify-content: center;
}

.brand-header-text {
    margin-top: 0;
    margin-bottom: 0;
}

.brand-green {
    color: #008080;
}

.brand-black {
    color: #333333;
}

#home-content button {
    width: 100%;
}



.register-section-title-row h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.register-section-list {
    margin-top: 0;
}

#register-content button {
    width: 100%;
}

#register-button-row {
    margin-bottom: 50px !important;
}




#login-content button {
    width: 100%;
}