<div id="BottomTab">
    <ion-tabs class="tabs-positive tabs-icon-top" id="TabBottom" style="margin-top: 100%">

        <ion-tab title="Accepted" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline"
                ng-click="filterAccepted()">
            <!-- Tab 1 content -->
        </ion-tab>

        <ion-tab title="Pending" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline"
              ng-click="filterPending()">
            <!-- Tab 2 content -->
        </ion-tab>

    </ion-tabs>
</div>

<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Accepted List</h1>
    </ion-header-bar>

    <ion-content>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat = "request in requests | filter: {accepted: true} " class="item item-avatar tour-guide-list-item"
                      ui-sref="ListDetail({requestId: request._id})">
                <img ng-src = "{{getImageUser(request._id)}}" class="listProfilePicture">
                <h2 class="idListName">{{ getBookingTouristName(request._id)}}</h2>
                <ul class = "listProfile">
                    <li>{{  getDayLength(request._id) }} days</li>
                    <li class = "rightPart">${{  getTotalPrice(request._id) }} </li>
                </ul>
               <!-- request from ,<br/> start date-end Date: { {  getBookingDatesFirst(request._id)} }-{ {getBookingDatesSecond(request._id)} }, totalCost: {{ request.totalCost }}-->
                <ion-option-button class="button-assertive icon ion-close-round" ng-click="remove(request._id)"></ion-option-button>
            </ion-item>
        </ion-list>


    </ion-content>

</ion-pane>

