<ion-view view-title="Request Booking">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="request-booking-content">
        <div class="row row-center row-md-margin-top tour-guide-details-row">
            <div class="col col-33 text-right">
                <img src="{{ tourGuide.profile.profpicURL }}" class="request-booking-tour-guide-profpic">
            </div>

            <div class="col col-67 text-left">
                <h4 id="request-booking-tourguide-name">{{ tourGuide.profile.name }}</h4>
                <h5 id="request-booking-location-price" class="tour-guide-small-details">{{ tourGuide.profile.location | capitalizeEachWord }} @ ${{ tourGuide.profile.price }} / hour</h5>
            </div>
        </div>

        <div class="row row-sm-margin-top request-booking-section-title-row">
            <div class="col">
                <h4>Tour Guide Details</h4>
            </div>
        </div>

        <div class="row row-center request-booking-date-row" ng-repeat="date in booking.dates">
            <div class="col col-90 request-booking-date-col">
                <button class="button button-brand-primary" ion-datetime-picker date monday-first ng-model="date.date">
                    <span ng-show="!date.date">
                        <i class="icon ion-ios-calendar-outline"></i>
                        Date
                    </span>

                    <span ng-show="date.date">
                        {{ booking.dates[$index].date | date: "d MMMM y" }}
                    </span>
                </button>

                <button class="button button-brand-primary" ng-click="popupNoOfHours($index)">
                    <span ng-show="!date.time">
                        <i class="icon ion-clock"></i>
                        Hours
                    </span>

                    <span ng-show="date.time">
                        {{ date.time }} Hours
                    </span>
                </button>
            </div>

            <div class="col col-10 request-booking-delete-date-col">
                <span class="icon ion-close-round request-booking-delete-date-icon" ng-click="removeBookingDate($index)"></span>
            </div>
        </div>

        <div class="row row-center request-booking-add-date-row">
            <div class="col col-90">
                <button class="button button-positive" ng-click="addNewBookingDate()">
                    <span class="icon ion-plus-round"></span>
                    Add Booking Date
                </button>
            </div>
        </div>

        <div class="row row-center request-booking-total-cost-row">
            <div class="col col-100">
                <h4>Total Cost: <span class="normal-font-weight">${{ getTotalCost() }}</span></h4>
            </div>
        </div>

        <div class="row row-md-margin-top request-booking-section-title-row" id="request-booking-button-row">
            <div class="col col-offset-10 col-80">
                <button class="button button-brand-primary" ng-click="createBooking()">
                    Book!
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>