<ion-view>
    <ion-content id="home-content">
        <div class="row row-center" id="row-home-logo">
            <div class="col col-100">
                <img src="images/logo/brand_logo.png" class="home-logo">
            </div>
        </div>

        <div class="row row-center" id="row-login-button-home">
            <div class="col col-100">

            </div>
        </div>

        <div class="row row-center" id="row-register-button-home">
            <div class="col col-100">

            </div>
        </div>
    </ion-content>
</ion-view>