<ion-view>
    <ion-content id="home-content">
        <div class="row row-center row-lg-margin-top" id="row-home-logo">
            <div class="col col-100">
                <img src="images/logo/brand_logo.png" class="home-logo">
            </div>
        </div>

        <div class="row row-center" id="brand-text-row">
            <h1 class="brand-header-text brand-black">T</h1>
            <h1 class="brand-header-text brand-green">our</h1>
            <h1 class="brand-header-text brand-black">G</h1>
            <h1 class="brand-header-text brand-green">uide</h1>
            <h1 class="brand-header-text brand-black">U</h1>
            <h1 class="brand-header-text brand-green">s</h1>
        </div>

        <div class="row row-center row-md-margin-top" id="row-login-button-home">
            <div class="col col-offset-10 col-80">
                <button class="button button-brand-primary" ng-click="goToLogin()">
                    Login
                </button>
            </div>
        </div>

        <div class="row row-center row-medium-margin-top" id="row-register-button-home">
            <div class="col col-offset-10 col-80">
                <button class="button button-light" ng-click="goToRegister()">
                    Register
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>