<ion-view view-title="{{ touristing.profile.name}}">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="tour-guide-details-content">
        <div class="row row-center row-md-margin-top" id="tour-guide-profile-picture-row">
            <div class="col col-100 text-center">
                <img src="{{ touristing.profile.profpicURL }}" class="tour-guide-profile-picture">
            </div>
        </div>

        <div class="row row-center" id="tour-guide-name-row">
            <div class="col col-100 text-center">
                <h3 id="tour-guide-name">{{ touristing.profile.name }}</h3>
                <h5 id="totalPrice-listName">price: ${{bookingRequest.totalCost}}</h5>
                <h5 id="tour-guide-contact">phone: {{ touristing.profile.contact }}</h5>
                <h5 id="date-details-user">{{ getDatingDetail()}}</h5>
            </div>
        </div>
    </ion-content>
</ion-view>
