<ion-view view-title="Login">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="login-content">
        <form name="loginForm" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="email" name="email" placeholder="Email Address" ng-model="user.email" required>
                </label>

                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.password" required>
                </label>

                <!-- <div class="error-container" ng-show="loginForm.email.$invalid">
                    <div class="row row-center error">
                        <i class="icon ion-information-circled"></i>
                        Please enter your email address!
                    </div>

                    <div class="row row-center error">
                        <i class="icon ion-information-circled"></i>
                        Please enter your email address!
                    </div>
                </div> -->
            </div>

            <div class="row">
                <div class="col col-offset-10 col-80">
                    <button class="button button-brand-primary" ng-click="loginUser()">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>