<div id="BottomTab">
    <ion-tabs class="tabs-positive tabs-icon-top" id="TabBottom" style="margin-top: 100%">

        <ion-tab title="Accepted" icon-on="ion-ios-filing-outline" icon-off="ion-ios-filing"
                 ng-click="filterAccepted()">
            <!-- Tab 1 content -->
        </ion-tab>

        <ion-tab title="Pending" icon-on="ion-ios-clock-outline" icon-off="ion-ios-clock"
                 ng-click="filterPending()">
            <!-- Tab 2 content -->
        </ion-tab>

    </ion-tabs>
</div>

<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Requested List</h1>
    </ion-header-bar>

    <ion-content>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat = "request in requests | filter: {accepted: false} ">
                request from {{request.tourist}},<br/> start date-end Date: {{request.startDate}}-{{request.endDate}}, totalCost: {{request.totalCost}}
                <ion-option-button class="button-positive icon ion-checkmark-round" ng-click = "accepted(request._id)"></ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-pane>

